*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1200px;
    margin: auto;
    padding-bottom: 10px;
    background-color: silver;
}
.row {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    height: 100px;
}
.col {
    flex: 1;
    justify-content: center;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    height: 50px;
}
.col-2 {
    flex: 2;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    height: 50px;
}
.col-3 {
    flex: 3;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    height: 50px;
}