*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    margin: auto;
}
.btn{
    color: white;
    font-size: 24pt;
    background-color: blue;
    border-color: black;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 5px 2px black;
}
.nav{
    width: 950px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-title{
    color: white;
    margin-left: 25px;
    align-items: center;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.leftColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}
.rightColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}