*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1525px;
    height: 1000px;
    margin: auto;
    padding-bottom: 10px;
    background-color: silver;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.navBar{
    width: 1525px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-title{
    color: white;
    margin-left: 100px;
    /*margin-left: 25px;*/
    align-items: center;
}
ul{
    list-style: none;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}.active {
    color: white;
}
.btn {
    font-family:'Roboto', sans-serif;
    background-color: turquoise;
    color: white;
    box-shadow: 5px 5px black;
}
.mainBody{
    height: 800;
    margin-left: 100;
    margin-right: 100;
    padding-top: 20;
    display: flex;
    justify-content: center;
}
.leftColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}
.userCardBox{
    align-items: flex-start;
    margin-bottom: 20px;
    height: 280px;
    width: 450px;
    border-radius: 3px;
    border: 3px solid rgba(128, 128, 128, 0.575);
}
.blueBox{
    width:450px;
    height: 80px;
    background-color: rgb(79, 113, 223);
}
.photo1 img{
    position: relative;
    left: 20px;
    top: -30px;
    z-index: 2;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.information{
    margin-left: 15px;
    margin-top: -27px;
}
.pinIcon img{
    height: 20px;
    width: 13px;
}
.gearIcon img{
    height: 20px;
    width: 20px;
}
.education{
    /*display: flex;
    align-items: flex-start;*/
    height: 250px;
    width: 450px;
    border-radius: 3px;
    border: 3px solid rgba(128, 128, 128, 0.575);
}
.blackBarLeft{
    padding-left: 20px;
    padding-top: 20px;
    width: 430px;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.733);
}
.rightColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blackBarRight{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 330px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.733);
}
.connectionRequests{
    margin-bottom: 20px;
    height: 200px;
    width: 350px;
    border-radius: 3px;
    border: 3px solid rgba(128, 128, 128, 0.575);
}
.yourConnections{
    height: 350px;
    width: 350px;
    border-radius: 3px;
    border: 3px solid rgba(128, 128, 128, 0.575);
}
.photo2 img{
    /*position: relative;
    left: 20px;
    top: -30px;
    z-index: 2;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
ul li{
    font-size: larger;
}